.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(38, 38, 146);
    padding: 15px 40px;
    justify-content: space-between;
}
body{
    margin: 0%;
    font-family: cursive;
}


.logo{
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.links a{
    color: white;
}

.links a:hover{
    color: aqua;
}

.img{
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,255,1);
}

.footer{
    background-color: rgb(38, 38, 146);;
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-size: x-large;
}

.hero p{
    color: gray;
    font-size: 20px;
    margin: 0%;

}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.about{
    display: flex;
     flex-direction: column;
    align-items: center;
    padding: 40px;
}
.contact{
    display: flex;
     flex-direction: column;
    align-items: center;
    padding: 40px;
}
.socials{
    display: flex;
    gap: 20px;
}
.socials a{
    color:  rgb(38, 38, 146);
    text-decoration: none;
}
.socials a:hover{
    color: black;
}

#square-animation{
    width: 100px;
    height: 100px;
    background: #1c128b;
    border-radius: 5px;
}